services:

	gallery.galleryFormFactory:
		class: GalleryModule\Forms\GalleryFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	gallery.uploadFormFactory:
		class: GalleryModule\Forms\UploadFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	gallery.sortFormFactory:
		class: GalleryModule\Forms\SortFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	gallery.photoFormFactory:
		class: GalleryModule\Forms\PhotoFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

factories:

	gallery.galleriesControl:
		class: GalleryModule\Components\GalleriesControl(@gallery.categoryRepository, @gallery.photoRepository)
		tags: [component]